/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/

.u-textblack {
    color: #231815;
}

.u-black {
    background-color: #231815;
}

.u-gray1 {
    background-color: #565f64;
}

.u-gray1 {
    background-color: #565f64;
}

.u-purp {
    background-color: #7a89a8;
}

.u-textpurp {
    color: #252a6d;
}

.u-white {
    color: #fff;
}

.u-36 {
    font-size: 3.6rem;
}
