/*------------------------------------------------------------
title
------------------------------------------------------------*/


/*
------------------------------------------------------------*/
.u-title {
    text-transform: uppercase;
    font-family: $oswa;
    font-weight: 300;
    color: #231815;
}
