//baseWidth
$base-width: 1000px;

$base-font: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$oswa: "Oswald", sans-serif;
$roboto: "Roboto", sans-serif;
$noto: "Noto Sans JP", sans-serif;
$second-font: "小塚明朝 Pr6N", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif //color common
