<footer class="c-footer">
    <div class="c-footer__banner">
        <a href="#"><img class="u-pc" src="/assets/img/1x/1x/banner-footer-100.jpg" alt="banner-img"></a>
       <a href="#"> <img class="u-mb" src="/assets/img/1x/1x/banner-mb-100.jpg" alt="banner-img"></a>
        <a class="c-footer__link u-pc" href="#"> <img src="/assets/img/1x/1x/Asset-4.png" alt="link-img"></a>
    </div>
    <a href="#" class="c-footer__form">
       <h2 class="c-footer__title"> Contact Form</h2>
    </a>
    <a href="#" class="c-footer__logo">
        <img src="/assets/img/1x/1x/footer-logo.png" alt="logo-img">
    </a>

</footer>
