<header class="c-header">
  <div class="c-header__content">
    <a href="#"><img class="c-header__logo" src="/assets/img/1x/logo-coco.png" alt="coco-logo"></a>
    <p class="c-header__desc">「こんな家に住みたい」をカタチにした家</p>
    <h1 class="c-header__title"><img src="/assets/img/1x/1x/opennow.png" alt="opennow"></h1>
  </div>
</header>
